fastapi
uvicorn
pydantic
pydantic-settings
pydantic[email]
sqlalchemy
psycopg2-binary
python-multipart
paddlepaddle
paddleocr
opencv-python-headless
numpy
aiofiles
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
